.hero-container {
  padding: 26px 77px 0px 36px;
}

.hero-image-container {
  padding-left: 41px;
  padding-bottom: 32px;
}

.hero-image {
  max-width: 396px;
}

.hero-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  padding-bottom: 16px;
}

.hero-paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */
  padding-right: 112px;
  padding-bottom: 49px;

  color: #222222;
}
